<h1>Brazil's Next Holiday is</h1>

<% if(locals.holidays) {%> 

  <%holidays.forEach( (entry) => { %>
    <%= entry.name%>
    <%= entry.description%>
    <%= entry.date.iso %>
    <%= entry.type %>
    <hr>
  <%})%>
  
<% } %>
